* {
    margin: 0;
    padding: 0;
}

body {
    /* border: 1px solid red; */
    margin: 0;
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    border: 1px solid black;
    background-color: rgba(130, 167, 187, 0.52);

}